/* Profile */
.text-profile {
  color: #007efc;
}

/* Twitter Nav Icon */
.fa-twitter:hover {
  color: #1DA1F2;
  transition: 0.3s;
}

.fa-twitter:active {
  transform: translateY(1px);
  transition: 0.3s;
}

/* Github Nav Icon */
.fa-github:hover {
  color: #afb8c1;
  transition: 0.3s;
}

.fa-github:active {
  transform: translateY(1px);
  transition: 0.3s;
}

/* Header Cards Icons */
.fa-code:before {
  content: "\f121";
}

.fa-bicycle:before {
  content: "\f206";
}

.fa-user-group:before {
  content: "\f500";
}
/* Project Images */
.image-container {
  margin: 0 auto 0 auto;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  overflow: hidden;
}
.image-project {
  border-radius: 100%;
  height: 115px;
}

.image-project:hover {
  transform: scale(1.2);
  transition: transform 400ms ease-out;
}

/* Button project */
.btn-project:hover {
  transform: translate(-1px,-1px);
  transition: transform 400ms ease-out;
}

.btn-project:active {
  transform: translate(1px,1px);
  transition: transform 400ms ease-out;
}

/* fixing responsiveness */
@media screen and (max-width: 1030px){
  .nav-buttons {
    display: none;
  }

  #main-header {
    font-size: 2rem;
    margin: auto;
  }

  .main-header-box {
    padding: 0;
  }

  .card-container-box {
    margin-top: 2rem;
  }

  .soft-skills-img {
    width: 100%;
  }

  .text-box-container {
    margin-top: 2rem;
  }

  .team-section {
    padding: 0 0 2rem 0;
  }

  .some-projects-parentdiv {
    margin-bottom: 2rem;
  }

  #contact_form {
    padding-top: 2rem;
  }
}





