/* Profile */
.text-profile {
  color: #007efc;
}

/* Twitter Nav Icon */
.fa-twitter:hover {
  color: #1DA1F2;
  transition: 0.3s;
}

.fa-twitter:active {
  transform: translateY(1px);
  transition: 0.3s;
}

/* Github Nav Icon */
.fa-github:hover {
  color: #afb8c1;
  transition: 0.3s;
}

.fa-github:active {
  transform: translateY(1px);
  transition: 0.3s;
}

/* Header Cards Icons */
.fa-code:before {
  content: "\f121";
}

.fa-bicycle:before {
  content: "\f206";
}

.fa-user-group:before {
  content: "\f500";
}
/* Project Images */
.image-project {
  border-radius: 100%;
  height: 115px;
}

.image-project:hover {
  padding: 1px;
  transition: 200ms;
}





